body.light {
  background-color: #f5f5f5;
  color: #1e1e1e;
  font-family: "Roboto-Regular";
}

body.dark {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: "Roboto-Regular";
}


@font-face {
  font-family: 'MontserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "PressStart";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format('truetype');
}

h1,
h2,
a {
  color: #2C3E50;
  text-decoration: none;
}

header a {
  position: relative;
  display: inline-block;
  color: #2C3E50;
  text-decoration: none;
}

header a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2C3E50;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

header a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

header a:not(:hover)::after {
  transform-origin: right;
  transform: scaleX(0);
}

@media screen and (min-width: 700px) and (max-width: 1023px) {

  h1 {
    font-size: 45px;
  }

  .content {
    font-size: 25px;
  }

  header a {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 45px;
  }

  header a {
    font-size: 26px
  }
}