body {
  background-color: #f5f5f5;
  color: #1e1e1e;
  font-family: "Roboto-Regular";
}


@font-face {
  font-family: 'MontserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "PressStart";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format('truetype');
}

h1,
h2,
a {
  color: #2C3E50;
  text-decoration: none;
}

@media screen and (min-width: 700px) and (max-width: 1023px) {

  h1 {
    font-size: 45px;
  }

  .content {
    font-size: 25px;
  }

  header a {
    font-size: 25px;
  }
}