body.light {
  background-color: #f5f5f5;
  color: #1e1e1e;
  font-family: "Roboto-Regular";
}

body.dark {
  background-color: #1e1e1e;
  color: #f5f5f5;
  font-family: "Roboto-Regular";
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoRegular";
  src: url("./assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "PressStart";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format('truetype');
}

/* Dark Mode */
.dark h1,
.dark h2 {
  color: #f5f5f5;
}

.dark header a {
  color: #f5f5f5 !important;
}

.dark li a {
  color: #F3D30D;
}

.dark .resum a {
  color: #F3D30D;
}

.dark .medias a {
  color: #f5f5f5;
}

.dark .dr {
  background: #F3D30D;
}

/* Fin Dark Mode */

h1,
h2,
a {
  color: #2C3E50;
  text-decoration: none;
}

@media screen and (min-width: 700px) and (max-width: 1023px) {

  h1 {
    font-size: 45px;
  }

  .content {
    font-size: 25px;
  }

  header a {
    font-size: 25px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 45px;
  }

  header a {
    font-size: 26px
  }
}