.heart-container {
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 60px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

.heart {
    width: 100%;
    height: 100%;
}

.floating-heart {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
}

.confetti-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 0;
    height: 0;
    z-index: 999;
}

.confetti {
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 50%;
}