.container-project {
    position: relative;
}

.container-portfolio img {
    width: 100%;
    margin-bottom: 100px;
}

.mobile {
    position: absolute;
    top: 85px;
    right: 95px;
}

.container-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container-buttons a {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    background: none;
}

.container-buttons a:hover {
    opacity: 0.8;
}