header ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0
}

li {
    list-style-type: none;
}

.navigation ul li a:hover {
    color: #8A8E91;
}

.theme-toggle-container {
    text-align: center;
}